body {
margin: 0;
font-family: Arial;
background: linear-gradient(135deg, #0b1220, #0f172a);
color: white;
}

/* НАВБАР */
nav {
background: black;
padding: 15px;
text-align: center;
box-shadow: 0 0 10px #22d3ee;
}

nav a {
color: #22d3ee;
margin: 0 15px;
text-decoration: none;
font-size: 18px;
}

/* HERO */
.hero {
text-align: center;
padding: 120px 20px;
}

/* ЛОГО */
.logo {
font-size: 70px;
letter-spacing: 3px;
color: #22d3ee;
text-shadow: 0 0 20px #22d3ee, 0 0 40px #22d3ee;
animation: iceGlow 2s infinite alternate;
}

.logo span {
color: #8b5cf6;
text-shadow: 0 0 20px #8b5cf6, 0 0 40px #8b5cf6;
}

@keyframes iceGlow {
0% { text-shadow: 0 0 10px #22d3ee; }
100% { text-shadow: 0 0 40px #8b5cf6; }
}

.subtitle {
color: #94a3b8;
margin-bottom: 20px;
}

/* КНОПКА */
button {
padding: 12px 30px;
background: linear-gradient(45deg, #3b82f6, #8b5cf6);
border: none;
color: white;
border-radius: 10px;
cursor: pointer;
transition: 0.3s;
}

button:hover {
transform: scale(1.1);
box-shadow: 0 0 20px #8b5cf6;
}

/* PLAY */
.play-section{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
margin-top:20px;
}

.sound-icon{
width:70px;
cursor:pointer;
transition:0.3s;
}

.sound-icon:hover{
transform:scale(1.15);
filter:drop-shadow(0 0 10px #22d3ee);
}

/* ТАБЫ */
.tabs{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:80px;
padding:20px;
}

.tab{
background:#1e293b;
padding:25px;
border-radius:12px;
width:320px;
transition:0.3s;
}

.tab:hover{
transform:translateY(-5px);
box-shadow:0 0 20px #8b5cf6;
}

.tab h2{
color:#22d3ee;
}

/* БОЛЬШАЯ ВКЛАДКА */
.big-tab{
position: relative;
overflow: hidden;
width: 600px;
}

.tab-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:url("wii_back.png") center/cover;
filter: blur(6px) brightness(0.4);
z-index:0;
}

.big-tab h2,
.big-tab p{
position:relative;
z-index:1;
}

/* СТАФФ */
.staff{
text-align:center;
margin-top:80px;
}

.staff-card{
display:flex;
align-items:center;
gap:20px;
background:#1e293b;
margin:20px auto;
padding:15px;
width:350px;
border-radius:12px;
}

.staff-card img{
width:80px;
border-radius:10px;
}

.mini-btn{
width:25px;
cursor:pointer;
margin-right:5px;
}

.mini-btn:hover{
transform:scale(1.2);
}

/* ФУТЕР */
footer {
background: black;
padding: 20px;
text-align: center;
margin-top: 80px;
}

.footer-links a {
color: #22d3ee;
margin: 0 10px;
text-decoration: none;
}

.copyright {
font-size: 12px;
color: gray;
margin-top: 10px;
}

/* ⚡ МОЛНИЯ */
#lightning {
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
background: radial-gradient(circle, rgba(139,92,246,0.8) 0%, transparent 60%);
opacity:0;
pointer-events:none;
z-index:999;
}

.lightning-active {
animation: flash 0.4s ease;
}

@keyframes flash {
0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}
